body{
  padding: 0;
  margin: 0;

}

#screen{
  position: relative;
}

#canvas{
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  transition: opacity 2s ease-in-out;
}

/*#black-out{
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 1;
  background-color: white;
  opacity: 0;
  transition: all; 2s ease;
}*/

.faded {
  opacity: 0;
}

#level-counter, #pause-button, #mute-button, #score-counter{
  position: absolute;
  opacity: .5;
  color: blue;
}

#pause-button{
  top: 95%;
  left: 2%;
  font-size: 12px;
}

#level-counter{
  top: 2%;
  left: 2%;
}

#score-counter {
  top: 5%;
  left: 2%
}

#mute-button{
  top: 95%;
  right: 2%;
  font-size: 20px;
}

#opening-modal {
  position: absolute;
  top: 20%;
  left: 33%;
  height: auto;
  width: 33%;
  background-color: white;
  z-index: 2;
  text-align: center;
  border: 2px solid black;
  padding-top: 60px;
  padding-bottom: 60px;
}

ul {
  padding: 0;
  list-style: none;
}

.opening-hide{
  opacity: .5;
  z-index: 3;
}

.hidden {
  display:none;
}
